[Desktop Entry]
Name=OpenAir
Comment=A free and open-source cross-platform podcast app
Exec=openair %U
Icon=com.openair.podcast
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=Podcast;Player;OpenAir;
MimeType=application/x-feed;application/rss+xml;application/atom+xml;
StartupWMClass=openair
Terminal=false
