[Desktop Entry]
Name=OpenAir
Comment=A Free and Open Source Podcast Player
Exec=openair
Icon=${SNAP}/meta/gui/com.openair.podcast.svg
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=Podcast;Player;OpenAir;
MimeType=application/x-feed;application/rss+xml;application/atom+xml;
StartupWMClass=OpenAir
